
h1 Isomorphic Jade
p.
  This is an example of using the same rendering templates on both the server and client.
  Server content is sent to the client and the same templates are then available for use
  by client-side applications such as Backbone.  Pretty neat.

p Running this thing...
ol
  li npm install
  li bower install
  li grunt build
  li npm start