html
  head
    title= pageTitle
    link(rel="stylesheet" href="/public/libs/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="/public/css/app.css")

  body
    #body-contents
      block body

    script(src="/public/libs/jquery/dist/jquery.min.js")
    script(src="/public/libs/jade/runtime.js")
    script(src="/public/js/templates.js")
    script(src="/public/js/app.js")



